@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: "Comic Neue", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

table {
    border: 5px black solid;
    border-radius: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}

.hrline {
    margin-top: 2rem;
    width: 10%;
    border: 2px solid black;
}

.verticalline {
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    border-left: 3px black solid;
    height: 2rem;
}

td {
    font-size: 1.5rem;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

form {
    width: 30%;
    display: none;
}

.flexend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

input {
    border: 3px black solid;
    border-radius: 5px;
    height: 1.7rem;
    width: 100%;
}

input::placeholder {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

button {
    background-color: white;
    font-family: "Comic Neue", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    width: auto;
    margin: 0 1rem;
    box-shadow: 5px 5px 0 black;
    border: 3px black solid;
}

.submitbook {
    margin: 0;
}

.bav-bar {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    width: 98vw;
    border: 3px solid black;
    margin: 1rem;
    border-radius: 5px;
}

.nav-link ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-list:hover {
    color: blue;
}

li {
    padding: 5px;
    cursor: pointer;
}

.time {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
    font-size: 1.3rem;
}

.contact {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact>h1 {
    margin: 1rem auto 2rem auto;
}

.contact>p {
    font-size: 1.5rem;
    margin: 1rem;
}

.contact>ul>li {
    font-size: 1.2rem;
    list-style-type: disc;
}

footer {
    height: 2.5rem;
    width: 98%;
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 2rem;
}

footer>p {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
}
