@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: "Comic Neue", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

table {
  border: 5px black solid;
  border-radius: 5px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}

.hrline {
  margin-top: 2rem;
  width: 10%;
  border: 2px solid black;
}

td {
  font-size: 1.5rem;
}

tr:nth-child(odd) {
  background-color: #ddd;
}

form {
  width: 30%;
}

.flexend {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

input {
  border: 3px black solid;
  border-radius: 5px;
  height: 1.7rem;
  width: 100%;
}

input::placeholder {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

button {
  background-color: white;
  font-family: "Comic Neue", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  width: auto;
  margin: 0 1rem;
  box-shadow: 5px 5px 0 black;
  border: 3px black solid;
}

.submitbook {
  margin: 0;
}
